@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.address {
  padding-bottom: 39px;

  @include m.tablet {
    padding-top: 70px;
    padding-bottom: 57px;
  }

  @include m.desktop {
    padding: 69px 50px 105px;
  }
}

.address__wrapper {
  margin: 0 auto;

  @include m.desktop {
    display: grid;
    grid-template-columns: repeat(2, 527px);
    justify-content: end;
    max-width: 1050px;
  }
}

.address__content {
  padding: 38px 30px  60px;
  display: flex;
  flex-direction: column;

  @include m.tablet {
    padding: 0 50px 49px;
  }

  @include m.desktop {
    padding-left: 177px;
  }
}

.address__title {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include m.tablet {
    margin-bottom: 48px;
    position: relative;
  }

  @include m.desktop {
    padding-top: 80px;
    margin: 0;
  }

  &::after {
    @include m.tablet {
      content: "";
      position: absolute;
      display: block;
      width: 47px;
      height: 81px;
      right: 3px;
      top: 0;
      transform: translateY(-30%);
      background-image: url("../img/flag.svg");
      background-repeat: no-repeat;
    }

    @include m.desktop {
      left: -110px;
      top: 50%;
      transform: translateY(-10%);
    }
  }
}

.address__list {
  display: flex;
  flex-direction: column;
  gap: 35px;

  @include m.tablet {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 52px;
  }

  @include m.desktop {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    gap: 29px;
  }
}

.address__item {
  display: flex;
  gap: 20px;
  font-size: 14px;

  @include m.tablet {
    font-size: 17px;
    gap: 21px;
  }
}

.address__name {
  width: 56px;
}

.address__value {
  position: relative;
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 30px;
}

.address__link {
  position: relative;
  color: v.$color-text;
  text-decoration-color: v.$color-input-hover;
  text-underline-offset: 7px;

  @include m.desktop {
    text-underline-offset: 11px;
  }

  &:hover,
  &:focus {
    outline: none;
    color: v.$color-input-hover;
  }

  &:active {
    text-decoration-color: rgba(v.$color-input-hover, $alpha: 0.1);
  }
}

.address__map {
  margin-bottom: 42px;

  @include m.tablet {
    margin-bottom: 54px;
  }

  @include m.desktop {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    margin-bottom: 0;
  }
}

.address__button {
  margin: 0 30px;

  @include m.tablet {
    width: 230px;
    margin: 0 auto;
  }

  @include m.desktop {
    grid-row: 3 / 4;
    grid-column: 1 / 1;
    align-self: end;
    justify-self: end;
    margin-right: 120px;
  }
}
