@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid v.$color-border;

  @include m.tablet {
    flex-direction: row;
  }

  @include m.desktop {
    flex-direction: column;
  }
}

.card:hover .card__wrapper {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.card:active .card__wrapper {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.card__link-image {
  @include m.tablet {
    width: 50%;
  }

  @include m.desktop {
    width: auto;
  }
}

.card__image {
  display: block;
}

.card__wrapper {
  padding: 28px 27px 26px;

  @include m.tablet {
    width: 50%;
    padding: 26px 33px 21px;
  }

  @include m.desktop {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    padding-left: 28px;
  }
}

.card__name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: v.$color-title;
  text-decoration: none;
  margin-bottom: 10px;

  @include m.tablet {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 7px;
    max-width: 240px;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__description {
  margin: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid v.$color-border;
  padding-bottom: 18px;
  margin-bottom: 23px;
  min-height: 76px;

  @include m.tablet {
    min-height: 236px;
    margin-bottom: 19px;
  }

  @include m.desktop {
    min-height: 98px;
  }
}

.card__characteristic {
  font-size: 13px;

  @include m.tablet {
    font-size: 15px;
  }
}

.card__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  font-weight: 700;
  font-size: 15px;

  @include m.tablet {
    font-size: 17px;
  }
}

.card__cart-link:hover .card__icon,
.card__cart-link:focus .card__icon {
  color: v.$color-primary;
}

.card__cart-link:active .card__icon {
  opacity: 0.3;
}

.card__icon {
  color: v.$color-icon;
}
