@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.features {
  box-shadow: 0 2px 5px rgba(v.$color-shadow, $alpha: 0.2);
}

.features__container {
  text-align: center;
  padding-top: 30px;

  @include m.desktop {
    padding: 57px 43px 52px 35px;
  }
}

.features__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 23px;
  line-height: 25px;
  font-weight: 300;
  text-wrap: balance;

  @include m.desktop {
    margin: 0 0 18px 19px;
    font-size: 35px;
    line-height: 38px;
  }
}

.features__text {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  @include m.desktop {
    margin: 0 auto 85px;
    font-size: 17px;
    max-width: 830px;
    line-height: 20px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @include m.desktop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 68px;
  }
}

.features__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  border-radius: 50%;
  text-decoration: none;
  color: v.$basic-white;
  width: 130px;
  height: 130px;
  padding: 20px;
  font-size: 14px;

  &--tickets {
    background-color: v.$color-blue;
  }

  &--camera {
    background-color: v.$color-green;
  }

  &--beer {
    background-color: v.$color-red;
  }

  &--devices {
    background-color: v.$color-orange;
  }

  @include m.desktop {
    width: 180px;
    height: 180px;
    padding: 44px 23px 27px;
    font-size: 16px;
  }
}

.features__description {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;

  @include m.desktop {
    max-width: 135px;
  }
}

.features__icon,
.features__name {
  transition: filter 0.3s ease;
}


.features__icon {
  width: 47px;
  height: auto;

  @include m.desktop {
    width: auto;
  }
}

.features__link:hover .features__icon,
.features__link:hover .features__name {
  filter: opacity(30%);
}

.features__link:hover .features__description {
  opacity: 1;
  height: auto;
  margin-top: 20px;
  margin-bottom: -5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-nav__text {
  display: none;
  text-align: right;
  align-self: center;
  font-size: 15px;

  @include m.tablet {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  @include m.desktop {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}

