@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.features {
  box-shadow: 0 2px 5px rgba(v.$color-shadow, $alpha: 0.2);
}

.features__container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  @include m.tablet {
    padding: 50px 20px;
  }

  @include m.desktop {
    padding: 57px 43px 52px 35px;
  }
}

.features__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 23px;
  line-height: 25px;
  font-weight: 300;
  text-wrap: balance;

  @include m.desktop {
    margin: 0 0 18px 19px;
    font-size: 35px;
    line-height: 38px;
  }
}

.features__text {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  @include m.tablet {
    margin-bottom: 30px;
  }

  @include m.desktop {
    margin: 0 auto 85px;
    font-size: 17px;
    max-width: 830px;
    line-height: 20px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  // justify-items: center;

  @include m.tablet {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
  }

  @include m.desktop {
    gap: 68px;
  }
}

.features__link {
  // position: relative;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: flex-end;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, auto);
  gap: 8px;
  justify-items: start;
  // border-radius: 50%;
  border-radius: 20px;
  text-decoration: none;
  color: v.$basic-white;
  // width: 130px;
  // height: 130px;
  width: 100%;
  padding: 20px;
  font-size: 14px;

  &--tickets {
    background-color: v.$color-blue;
  }

  &--camera {
    background-color: v.$color-green;
  }

  &--beer {
    background-color: v.$color-red;
  }

  &--devices {
    background-color: v.$color-orange;
  }

  @include m.desktop {
    width: 180px;
    height: 180px;
    padding: 44px 23px 27px;
    font-size: 16px;
  }
}

.features__description {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  // position: absolute;
  // opacity: 0;
  // transition: opacity 0.3s ease;
  // height: 0;
  // overflow: hidden;
  margin: 0;
  padding: 0;

  @include m.desktop {
    // max-width: 135px;
    // top: 21px;
    text-align: center;
  }
}



.features__icon,
.features__name {
  transition: filter 0.3s ease;
}


.features__icon {
  width: 47px;
  height: auto;
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  @include m.desktop {
    width: auto;
  }
}

.features__name {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.features__link:hover .features__icon,
.features__link:hover .features__name {
  filter: opacity(30%);
}

.features__link:hover .features__description {
  opacity: 1;
  height: auto;
  margin-top: 20px;
  margin-bottom: -5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
