@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.footer {
  background-color: v.$color-footer;
}

.footer__container {
  display: flex;
  flex-direction: column;
  padding: 20px;

  @include m.desktop {
    flex-direction: row;
    justify-content: space-between;
    padding: 33px 0 30px 65px;
  }
}

.footer__menu-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;


  @include m.desktop {
    grid-template-columns: 149px 128px 114px 100px;
    gap: 50px;
  }
}

.footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include m.desktop {
    margin-left: 4px;
  }
}

.footer__menu-name {
  color: v.$color-name-footer;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 18px;


  @include m.desktop {
    font-size: 21px;
    margin-bottom: 18px;
  }
}

.footer__menu-link {
  color: v.$color-links-footer;
  text-decoration: none;

  &:hover {
    color: v.$color-hover;
  }

  &:active {
    color: v.$color-orange;
  }
}

.footer__social-list {
  padding: 0;
  margin: 22px 0 24px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 22px;
  max-width: 280px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: none;
  background-color: v.$color-icon-footer;
  border-radius: 50%;

  &:hover {
    background-color: v.$color-hover;
  }

  &:active {
    background-color: v.$color-orange;
  }
}

.footer__copyright,
.footer__copyright-link {
  color: v.$color-links-footer;
  text-decoration: none;
}

.footer__copyright-link {
  &:hover {
    color: v.$color-hover;
  }

  &:active {
    color: v.$color-orange;
  }
}
