@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.footer {
  background-color: v.$color-footer;
}

.footer__container {
  padding: 30px 0 30px 60px;
  display: flex;
  justify-content: space-between;
}

.footer__menu-group {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__menu-name {
  color: v.$color-name-footer;
  margin: 0 0 30px;
  font-size: 21px;
}

.footer__menu-item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__menu-link {
  color: v.$color-links-footer;
  text-decoration: none;

}

.footer__logo {
  color: v.$color-shadow;
}

.footer__socials-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 34px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;

  @include m.tablet {
    justify-self: center;
    padding-top: 25px;
    width: 145px;
    gap: 32px;
  }
}

.footer__social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: v.$color-shadow;
}

.footer__social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.footer__social-link {
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  background-color: v.$color-icon-footer;
  border-radius: 50%;
}

.footer__developer {
  padding-top: 22px;
  padding-bottom: 22px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 26px;
  border-top: 1px solid #e5e5e5;
  width: 100%;

  @include m.tablet {
    border: none;
    justify-content: flex-end;
    padding-top: 15px;
  }

  @include m.desktop {
    padding-top: 10px;
    padding-bottom: 19px;
    gap: 29px;
  }
}

.footer__developer-name {
  color: v.$color-shadow;
  font-size: 19px;
  font-weight: 700;
}

.footer__link:hover .footer__logo,
.footer__link:focus .footer__logo,
.footer__social-link:hover .footer__social-icon,
.footer__social-link:focus .footer__social-icon,
.footer__developer:hover .footer__developer-icon,
.footer__developer:focus .footer__developer-icon {
  color: #46c1ae;
}

.footer__link:active .footer__logo,
.footer__social-link:active .footer__social-icon,
.footer__developer:active .footer__developer-icon {
  opacity: 0.3;
}
