@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.header {
  position: sticky;
  top: 0;
  left: 0;
  min-height: 79px;
  padding-top: 22px;
  padding-bottom: 16px;
  box-shadow: 0 2px 5px rgba(v.$color-shadow, $alpha: 0.2);
  background-color: rgba(v.$basic-white, $alpha: 0.9);
  z-index: 20;

  @include m.tablet {
    &::after {
      bottom: 0;
    }
  }
}

.header__container {
  display: flex;
  flex-direction: column;

  @include m.desktop {
    padding: 0 40px 0 35px; //     padding: 12px 40px 8px 35px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: v.$desktop;
  }
}

.header__logo {
  align-self: center;

  &:hover[href],
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active[href] {
    opacity: 0.3;
  }


  @include m.desktop {
    align-self: center;
  }
}

.main-header__toggle {
  position: absolute;
  border: none;
  width: 20px;
  height: 14px;
  top: 32px;
  right: 31px;
  background-image: url("../img/icons/menu.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  z-index: 10;

  &--closed {
    background-image: url("../img/icons/menu-close.svg");
    width: 21px;
    height: 20px;
    top: 29px;
  }

  @include m.tablet {
    display: none;
  }
}

.header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include m.desktop {
    flex-direction: row;
    gap: 0 20px;
  }
}

.header__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include m.desktop {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.header__nav-link {
  padding: 30px 2px;
  text-decoration: none;
  color: v.$color-links;

  &:hover {
    color: v.$color-hover;
  }
}

.header__user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.header__user-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  padding: 6px 25px;
  background-color: v.$color-button;
  border-radius: 5px;
  color: v.$basic-white;
  text-decoration: none;
  transition: scale 0.3s ease;

  &:hover {
    scale: 1.1;
  }

  &::before {
    content: "";
    display: block;
    width: 13px;
    height: 14px;
    background-image: url("../img/icons/user.svg");
    background-repeat: no-repeat;
  }
}

.no-js {
  .main-header__toggle {
    display: none;
  }
}
