@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.heading {
  min-height: 175px;
  background-color: v.$color-background;
  padding-top: 72px;
  position: relative;
  text-align: center;

  @include m.tablet {
    min-height: 226px;
    padding-top: 102px;
  }

  @include m.desktop {
    min-height: 255px;
  }

  &::after {
    @include m.tablet {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 24px;
      background: url("../img/zigzag-fill-desktop.svg") repeat-x;
      background-size: 776px 24px;
      bottom: -12px;
      left: -4px;
    }

    @include m.desktop {
      height: 34px;
      background-size: 1146px 34px;
      background-position: 60px 4px;
      left: 0;
    }
  }
}

.heading__wrapper {
  padding-bottom: 40px;
}
