@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.input-text {
  width: 100%;
  padding: 16px 40px 16px 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: v.$color-text;
  border: none;
  border-bottom: 2px solid v.$color-title;
  background-color: transparent;

  @include m.tablet {
    padding: 15px 40px 10px 16px;
    font-size: 19px;
  }

  @include m.desktop {
    padding-top: 14px;
    padding-left: 19px;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover,
  &:focus {
    border-color: v.$color-input-hover;
    outline: none;
  }

  &:not(:placeholder-shown):invalid {
    border-color: #ff8282;
  }
}
