@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.main-form__heading {
  @include m.tablet {
    margin-top: -68px;
  }
}

.main-form__description {
  padding-top: 18px;
  padding-bottom: 24px;

  @include m.tablet {
    padding-top: 66px;
    padding-bottom: 9px;
  }

  @include m.desktop {
    padding-top: 115px;
  }
}

.main-form__text {
  text-align: left;
  margin: 0;

  @include m.desktop {
    padding-left: 176px;
    padding-right: 150px;
  }
}
