@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;


.nav-link {
  padding: 28px 30px 26px 76px;
  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: v.$color-title;
  border-bottom: 1px solid v.$color-border;
  width: 100%;

  @include m.tablet {
    border: none;
    height: 100%;
  }

  &:hover[href],
  &:focus {
    color: rgba(v.$color-title, $alpha: 0.6);
    outline: none;
  }

  &:active[href] {
    color: rgba(v.$color-title, $alpha: 0.3);
  }
}
