@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.nav-stock {
  display: none;

  @include m.desktop {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
  }
}

.nav-stock__link {
  font-size: 15px;
  padding: 19px 31px;

  @include m.desktop {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  &:nth-child(3n+1) {
    padding-left: 0;
  }
}
