@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;


.news {
  padding: 20px;

  @include m.tablet {
    padding: 50px 20px;
  }

  @include m.desktop {
    padding: 44px 0 75px 65px;
  }
}

.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news__item {
  margin-bottom: 20px;

  @include m.tablet {
    margin-bottom: 30px;
  }

  @include m.desktop {
    margin-bottom: 75px;

    &:nth-last-child(2) {
      margin-bottom: 72px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.news__link {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  text-decoration: none;
  color: v.$color-text;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    color: v.$color-orange;
  }


  @include m.tablet {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 20px;
  }

  @include m.desktop {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 20px;
  }
}

.news__image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;

  @include m.tablet {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 0;
  }

  @include m.desktop {
    margin-top: 0;
  }
}

.news__description {
  @include m.desktop {
    padding: 3px 0;
  }
}

.news__name {
  font-size: 23px;
  line-height: 27px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  text-align: left;

  @include m.desktop {
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    padding: 0;
  }
}

.news__text {
  margin: 0;
  padding: 0;
  color: v.$color-news;

  @include m.desktop {
    margin-left: 5px;
    max-width: 800px;
  }
}

.news__link:active .news__text {
  color: v.$color-orange;
}
