@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;


.news {
  padding: 44px 0 75px 65px;
}

.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news__item {
  margin-bottom: 75px;

  &:nth-last-child(2) {
    margin-bottom: 72px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.news__link {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 20px;
  font-weight: 300;
  text-decoration: none;
  color: v.$color-text;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    color: v.$color-orange;
  }
}

.news__image {
  display: block;
  width: 200px;
  height: auto;
}

.news__description {
  padding: 3px 0;
}

.news__name {
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  text-align: left;

  @include m.tablet {
    padding-left: 41px;
    font-size: 20px;
    order: 2;
    align-items: flex-start;
  }

  @include m.desktop {
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    padding: 0;
  }
}

.news__text {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  max-width: 800px;
  color: v.$color-news;
}

.news__link:active .news__text {
  color: v.$color-orange;
}
