@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.promo {
  position: relative;
  z-index: 10;
  display: block;
  min-height: 585px;
  background-color: v.$color-hover;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -178px;

  @include m.desktop {

  }
}

.promo__container {
  padding: 410px 40px 40px 35px;
  text-align: center;
  color: v.$basic-white;
}

.promo__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
}

.promo__subtitle {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
}

.promo__text {
  padding-top: 72px;
  padding-bottom: 20px;
  text-align: center;
  min-height: 281px;

  @include m.tablet {
    min-height: 630px;
    padding-top: 158px;
  }

  @include m.desktop {
    min-height: 629px;
    padding-top: 160px;
  }
}

.promo__title {
  @include m.tablet {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include m.desktop {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.promo__assortment {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: left;
  margin: 0 auto;
  padding: 0;

  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 50px;
    padding-right: 50px;
  }
}

.promo__assortment-link {
  position: relative;
  font-size: 19px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  display: block;
  padding: 24px 160px 31px 30px;

  @include m.tablet {
    font-size: 20px;
    padding-top: 25px;
    padding-left: 37px;
  }

  @include m.desktop {
    padding: 26px 160px 36px 37px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  &--interior {
    background-color: v.$color-primary;

    &:hover,
    &:focus {
      background-color: #59d5bc;
    }

    &::before {
      background-color: v.$color-primary;
    }
  }

  &--interior::after {
    width: 40px;
    height: 62px;
    top: 23px;
    right: 36px;
    background-image: url("../img/icons/interior.svg");

    @include m.tablet {
      top: 29px;
    }

    @include m.desktop {
      top: 30px;
    }
  }

  &--toys {
    background-color: v.$color-secondary;

    &:hover,
    &:focus {
      background-color: #46c1ae;
    }

    &::before {
      background-color: v.$color-secondary;
    }
  }

  &--toys::after {
    width: 60px;
    height: 60px;
    top: 23px;
    right: 27px;
    background-image: url("../img/icons/toy.svg");

    @include m.tablet {
      top: 31px;
      right: 34px;
    }

    @include m.desktop {
      top: 31px;
      right: 35px;
    }
  }

  &:hover,
  &:focus {
    padding-top: 21px;
    padding-bottom: 41px;
  }
}

.promo__assortment-link:hover::before,
.promo__assortment-link:focus::before {
  top: -5px;
}

.promo__assortment-link--interior:hover::before,
.promo__assortment-link--interior:focus::before {
  background-color: #59d5bc;
}

.promo__assortment-link--toys:hover::before,
.promo__assortment-link--toys:focus::before {
  background-color: #46c1ae;
}

.promo__assortment-link:hover::after {
  top: 18px;
}

.promo__assortment-link:hover::after,
.promo__assortment-link:focus::after {
  opacity: 0.7;
}

.promo__assortment-link:active::after {
  opacity: 0.3;
}
