@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.promo {
  position: relative;
  z-index: 10;
  display: block;
  min-height: 585px;
  background-color: v.$color-hover;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 72px;
  margin-top: -178px;

  @include m.desktop {

  }

  &::after {
    content: "";
    position: absolute;
    width: 156px;
    height: 151px;
    background-image: url("../img/decor.svg");
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -13%);
  }
}

.promo__container {
  padding: 500px 40px 85px 35px;
  text-align: center;
  color: v.$basic-white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.promo__heading {
  margin: 0 51px 20px 0;
  padding: 0;
  font-size: 68px;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
}

.promo__subtitle {
  margin: 0 0 0 70px;
  padding: 0;
  font-size: 23px;
  line-height: 22px;
  letter-spacing: 1px;
  word-spacing: 0.4px;
}

.promo__text {
  padding-top: 72px;
  padding-bottom: 20px;
  text-align: center;
  min-height: 281px;

  @include m.tablet {
    min-height: 630px;
    padding-top: 158px;
  }

  @include m.desktop {
    min-height: 629px;
    padding-top: 160px;
  }
}

