@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.slider {
  position: relative;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__text {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
  line-height: 30px;

  @include m.tablet {
    margin-bottom: 58px;
  }

  @include m.desktop {
    margin-bottom: 42px;
    padding-right: 65px;
  }
}

.slider__autor,
.slider__autor-link {
  font-size: 17px;
  color: v.$color-title;
}

.slider__autor {
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;

  @include m.tablet {
    font-size: 18px;
    margin: 0;
  }

  @include m.desktop {
    font-size: 17px;
  }
}

.slider__autor-link {
  text-decoration: none;
  margin-bottom: 32px;
  display: inline-block;
}

.slider__flips-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 38px;

  @include m.tablet {
    position: absolute;
    bottom: 46px;
    right: 19px;
    width: 137px;
    margin: 0;
    gap: 37px;
  }

  @include m.desktop {
    bottom: 48px;
    right: 20px;
  }
}

.slider__flip {
  border: 1px solid v.$color-border;
  background-image: url("../img/icons/next.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  height: 53px;

  &--prev {
    border-left: none;
    transform: rotate(180deg);
    background-position: center left 42px;
  }

  &--next {
    background-position: center left 36px;
  }

  @include m.tablet {
    border: none;
    height: 26px;
    background-position: center left;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.slider__button {
  @include m.tablet {
    position: absolute;
    top: -93px;
    right: 0;
    min-width: 175px;
  }

  @include m.desktop {
    top: -91px;
    padding-left: 38px;
    padding-right: 38px;
  }
}
