@use "../common/variables.scss" as v;
@use "../mixins/media.scss" as m;

.title {
  margin: 0;
  padding: 0;
  color: v.$color-title;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;

  &--min {
    font-size: 25px;
  }

  @include m.tablet {
    font-size: 43px;
    line-height: 50px;
  }

  @include m.desktop {
    font-size: 53px;
    line-height: 57px;
  }
}
