// Ширина экрана
$desktop: 1024px;
$tablet: 768px;
$phone: 320px;

// Цвета

$color-primary: #63d1bb;
$color-secondary: #56c3b2;
$color-title: #000000;
$color-text: #444444;
$color-icon: rgba(0, 0, 0, 0.2);
$color-background: #f1f1f1;
$color-border: #ececec;
$color-input-hover: #62d1ba;
$basic-white: #ffffff;
