// Ширина экрана
$desktop: 1024px;
$tablet: 768px;
$phone: 320px;

// Цвета

$color-primary: #63d1bb;
$color-secondary: #56c3b2;

$color-icon: rgba(0, 0, 0, 0.2);
$color-background: #f1f1f1;
$color-border: #ececec;
$color-input-hover: #62d1ba;

$basic-white: #ffffff;
$color-text: #404040;
$color-links: #454545;
$color-hover: #ca2624;
$color-button: #de6d6e;
$color-shadow: #000000;
$color-blue: #4eb9f4;
$color-green: #6fc125;
$color-red: #e70c0a;
$color-orange: #e48f23;

