// Screen width
$desktop: 1024px;
$tablet: 768px;
$phone: 320px;

// Colors

$basic-white: #ffffff;
$color-text: #404040;
$color-links: #454545;
$color-hover: #ca2624;
$color-button: #de6d6e;
$color-shadow: #000000;
$color-blue: #4eb9f4;
$color-green: #6fc125;
$color-red: #e70c0a;
$color-orange: #e48f23;
$color-news: #636363;
$color-footer: #25232b;
$color-name-footer: #aeaeae;
$color-links-footer: #8b8b8b;
$color-icon-footer: #696b6a;

